* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: auto 100%;
}

#menu {
    position: fixed;
    height: 30%;
    width: 60%;
    top: 35%;
    left: 20%;
    background-color: #fffede;
    border-radius: 5px;
    border: 1px solid #830000;
    display: none;
}
#score {
    z-index: 9999;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: fixed;
    height: 5%;
    width: 5%;
    left: 47.5%;
    top: 100px;
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
}
#endScore {
    font-family:'Baskerville Old Face';
    font-size:1.5em;
    color:#111111;
}
#gameOver{
    font-size:2em;
    font-family:'Old English Text MT';
    color:#bb0000;
}
#restart{
    display :block;
    margin:auto;
}

#flappy {
    border: 1px solid black;
    height: 37px;
    width: 58px;
    position: fixed;
    background-size: 100% 100%;
}

.pipe, .invPipe {
    border: 1px solid black;
    width: 75px;
    height: 400px;
    position: fixed;
    background-size: 100% 100%;
}

